<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moviereel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".app.MovieReelApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- App introduction -->
        <activity android:name=".ui.intro.AppIntroduction" />

        <!-- splash screen -->
        <activity android:name=".ui.intro.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- main activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="com.moviereel.moviereel.MAINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- movie details -->
        <activity android:name=".ui.detail.MovieDetailsActivity"/>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <!-- Custom crash -->
        <activity
            android:name=".ui.customerror.CustomErrorActivity"
            android:label="@string/custom_error_activity_label"
            android:process=":error_activity">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="41f11c4d0f34030da023daca96924eaff1547a35" />

        <receiver android:name=".receivers.ConnChangeReceiver" />

        <service
            android:name=".services.SyncService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>